.venv/
venv/
__pycache__/
*.py[cod]
.idea/
.vscode/
mlruns/
mlflow.db
services/airflow/logs/
services/airflow/airflow.db
services/airflow/airflow.db-shm
services/airflow/airflow.db-wal
services/airflow/airflow.cfg
services/airflow/simple_auth_manager_passwords.json
services/airflow/webserver_config.py
.DS_Store
.yavcp/
services/airflow/simple_auth_manager_passwords.json.generated
data/processed/
models/*.joblib
